//  COLORS
$hollywoodCerise: #CA02A2;
$amaranth: #E41764;
$pigPink: #FCCED5;
$cerulean: #0EB7BF;
$cruise: #B5EDEA;
$babyBlue: #DAFFFD;
$frostedMint: #E8FFF5;
$macaroniAndCheese: #FFC07D;
$varden: #FFF7E1;
$black: #030303;
$tundora: #474747;
$hitGray: #9DB0B1;
$jungleMist: #C5DBDC;
$tutu: #FFFDFF;
