.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
    width: 80%;
    left: 10%;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.bathroom-registration-container {
    display: flex;
    flex-direction: column;
    margin-top: -5.3em;
}
.bathroom-form-container {
    display: flex;
    flex-direction: column;
    width: 40em;
}
.button-container {
    align-self: flex-end;
}

.num-postcode-container {
    display: flex;
    flex-direction: row;
    margin-bottom: -0.7em;
}

.features-container {
    display: flex;
    margin-bottom: 0.5em;
    align-self: center;
}

.features-main-container {
    display: flex;
    flex-direction: column;

}