.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.bathroom-registration-container {
    display: flex;
    flex-direction: column;
}
.bathroom-form-container {
    display: flex;
    flex-direction: column;
    width: 40em;
}
.button-container {
    align-self: flex-end;
}
.stepper-container {
}
.num-postcode-container {
    display: flex;
    flex-direction: row;
    margin-bottom: -0.7em;
}
